# para o uso de url amigavel
    # Send Requests To Front Controller...
    RewriteEngine oN
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [L] [QSA,L]

    Options -Indexes